$prefixCls: admin-login;

.#{$prefixCls} {
  width: 500px;
  border: 1px solid #333;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -80%);
  transform: translate(-50%, -80%);
  box-sizing: border-box;
  padding-top: 30px;
}